/* Code created for the JOMO, Inc. website. Designed by Ryan Payne, code written by Jeff Berlin */

@font-face {
	font-family: GT-Walsheim-Medium;
	src: url(GT-WALSHEIM-PRO-MEDIUM_0.TTF);
}

@font-face {
	font-family: GT-Walsheim-Thin;
	src: url(GT-Walsheim-Pro-Trial-Thin.otf);
}

@font-face {
	font-family: GT-Walsheim-Oblique;
	src: url(GT-Walsheim-Pro-Trial-Light-Oblique.otf);
}

@font-face {
	font-family: SourceSansPro-Light;
	src: url(SourceSansPro-Light.otf);
}

@font-face {
	font-family: UntitledSansTest-Bold;
	src: url(UntitledSansTest-Bold.otf);
}

@font-face {
	font-family: UntitledSansTest-Light;
	src: url(UntitledSansTest-Light.otf);
}

@font-face {
	font-family: UntitledSansTest-Medium;
	src: url(UntitledSansTest-Medium.otf);
}

html, body {
	overflow-x: hidden;
	width: 100%;
}

.time-logo-section h3, .partnerships h1, .bottom-info h2, .bottom-header h1, .map-info h1  {
	font-family: "GT-Walsheim-Medium";
	color: #3a4b58;
}

.header-under h4 {
	font-family: "GT-Walsheim-Thin";
	color: #3a4b58;
}

.sms-text, #phone, #phone input, .input-group-field::placeholder, .header-under p, .header-under input, .input-group-button input, .map-info p, .partnerships p, .bottom-info h5, footer p {
	font-family: "UntitledSansTest-Light";
	color: #696a6d;
}

/* ~~~~~~~~~~ TOP SECTION ~~~~~~~~~~ */

.container-fluid {
	padding: 0;
}

.main {
	background-image: url('../images/jomo_charlotte_background_min.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	height: 115vh;
	vertical-align: middle;
	min-height: 600px;
}

.time-logo-section {
	vertical-align: middle;
	margin: 10vh 0;
}

.jomo-logo {
	text-align: center;
	margin-bottom: 3rem;
}

.time-logo-section h3 {
	font-size: 32pt;
	margin-bottom: 4rem;
}

.sms-text {
	font-size: 16pt;
	font-weight: 550;
}

form {
	margin-top: 2rem;
	display: block;
	position: relative;
	min-width: 341px;
	text-align: center;
}

.form-group {
	position: relative;
	margin-bottom: 20px;
	width: 342px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.form-group input {
	border: 0;
	outline: none;
}

.input-group input {
	background-color: transparent;
	vertical-align: middle;
	font-size: 18pt;
	letter-spacing: .95px;
	text-align: left;
	width: 248px;
}

.input-group {
	display: table;
	width: 100%;
}

.input-group, .input-group-button {
	display: table-cell;
	border-bottom: 3px solid #30cf83;
	text-align: left;
}

.input-group-button {
	padding-top: 0;
	padding-bottom: 0;
	height: 100%;
}

.input-group-button input {
	background-color: transparent;
	border-radius: 10px;
	font-weight: 900;
	font-size: 14pt;
	vertical-align: middle;
	padding: 0;
}

.input-group-button input:active {
	transform: translateY(2px);
}

.time-logo-section a {
	width: 165px;
	display: inline-block;
	padding-left: 0px;
}

.time-logo-section a img:active {
	transform: translateY(1px);
}

.apple-link {
	margin-right: 1rem;
}

.header-under {
	margin-top: 2rem;
}

.header-under p {
	font-size: 14pt;
	font-weight: 550;
}

.header-under input {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	padding: 0;
	text-decoration: underline;
	letter-spacing: 0.05em;
	line-height: 1.46;
	font-weight: 900;
	outline: none;
	margin-bottom: 1rem;
}

.downarrow img {
	width: 30px;
}

.downarrow {
	text-align: center;
}

.downarrow img:hover {
	cursor: pointer;
}

/* Time : well spent logo section */

.time-img {
	background-color: #30cf83;
	text-align: center;
}

.time-img img {
	padding: 15px;
	margin: 3rem auto;
	height: fit-content;
}

/* ~~~~~~~~~~ CAM NEWTON FOUNDATION SECTION ~~~~~~~~~~ */

.cam {
	background-color: #3a4b58;
	display: inline-block;
	width: 100%;
}

.camlogo {
	padding: 0;
}

.camlogo img {
	float: left;
	margin-top: 2rem;
}

.donating {
	margin-top: 8rem;
	vertical-align: middle;
	padding: 0;
}

.dollar {
	font-family: "GT-Walsheim-Medium";
	color: #ffffff;
	letter-spacing: .75px;
	margin-bottom: 2rem;
	line-height: 130%;
}

.donating h5 {
	font-family: "UntitledSansTest-Light";
	color: #ffffff;
	letter-spacing: .75px;
	font-size: 16pt;
	line-height: 1.6;
}

.prizes {
	border-right: 2px solid #23AB6A;
}

.prizes h1 {
	font-family: 'GT-Walsheim-Medium';
	color: #ffffff;
}

/* ~~~~~~~~~~ PARTNERSHIP SECTION ~~~~~~~~~~ */

.partnerships {
	background-color: #f5f5f5;
	width: 100%;
	text-align: center;
	margin-top: -5px;
}

.partnerships h1 {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 2.5rem;
	color: #3a4b58;
}

.partnerships p {
	font-size: 16pt;
	margin-bottom: 2.5rem;
	padding-left: 20rem;
	padding-right: 20rem;
}

.text-center img {
	margin-bottom: 4rem;
}

.partners {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding-left: 15px;
	padding-right: 15px;
}

.partners a img {
	height: 80px;
	padding: 10px;
	margin-bottom: 3rem;
	vertical-align: middle;
}

a {
	text-decoration: none !important;
}

.prizes-button {
	margin-bottom: 5rem;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.8px;
	line-height: 24px;
	text-shadow: 0 1px 1px #23AB6A;
	background: #30CF83;
	border-radius: 4px;
	padding: 1.5rem;
	font-family: 'UntitledSansTest-Medium';
	outline: none;
	border: none;
	display: inline-block;
	text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 400;
    touch-action: manipulation;
    cursor: pointer;
}

/* ~~~~~~~~~~ MAP/SCREENSHOT SECTION ~~~~~~~~~~ */

.map {
	background-image: url('../images/jomo_charlotte_map_pins_min.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 1px solid #30cf83;
	margin-top: -5px;
	width: 100%;
	display: flex;
}

.phonemap img {
	width: 300px;
	margin-top: 82px;
}

.phonemap {
	padding: 0;
}

.map-info {
	margin-top: 16rem;
	vertical-align: middle;
	padding: 0;
}

.map-info h1 {
	font-size: 30pt;
}

.map-info p {
	font-size: 18pt;
	font-weight: 550;
	margin-top: 20px;
}

/* ~~~~~~~~~~ BOTTOM SECTION ~~~~~~~~~~ */

.bottom-header h1 {
	text-align: center;
	padding-top: 40px;
	margin-bottom: 50px;
	background-color: transparent;
}

.bottom {
	text-align: center;
}

.bottom-info img, .bottom-info h2 {
	padding-bottom: 10px;
}

.bottom-info h5 {
	line-height: 140%;
	letter-spacing: .75px;
	font-size: 14pt;
}

.bottom-info {
	margin-bottom: 100px;
}

.footer {
	margin-bottom: 20px;
	padding-right: 10rem;
	padding-left: 10rem;
}

.footer p {
	float: left;
	vertical-align: middle;
	font-size: 12pt;
}

.footer a {
	float: right;
	display: inline-block;
	padding: .5rem;
}

.footer a img {
	height: 25px;
}

/* ~~~~~~~~~~ RESPONSIVE SECTION ~~~~~~~~~~ */

@media (max-width: 1363px) {

	.donating h5 {
		font-size: 14pt !important;
	}

}

@media (max-width: 1301px) {

	.dollar {
		font-size: 26pt;
	}

}

@media (max-width: 1199px) {

	.map-info p {
		font-size: 16pt !important;
	}

}

@media (max-width: 1169px) {

	.donating {
		margin-right: 0rem !important;
	}

	.phonemap h1 {
		font-size: 28pt;
	}

	.phonemap p {
		font-size: 18pt !important;
	}

}

@media (max-width: 1143px) {

	.dollar {
		font-size: 24pt;
	}

}


@media (max-width: 1131px) {

	.map-info h1, .map-info p {
		margin-left: 5rem !important;
	}

}

@media (max-width: 1047px) {

	.map-info h1 {
		font-size: 28pt !important;
	}

	.partnerships p {
		padding-right: 8rem !important;
		padding-left: 8rem !important;
	}

}

@media (max-width: 991px) {

	.time-logo-section {
		margin-right: 0rem !important;
		margin-bottom: 2rem;
		padding-left: 0rem !important;
		padding-right: 0rem !important;
		text-align: center;
	}

	.time-logo-section h3 {
		padding-right: 10rem !important;
		padding-left: 10rem !important;
		margin-bottom: 2rem;
	}

	.time-logo-section a {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	.play-link img, .apple-link img {
		padding-right: 0px !important;
	}

	.apple-link {
		margin-right: 10px;
	}

	.phonemap {
		text-align: center;
	}

	.phonemap img {
		margin-top: 12px !important;
	}

	.map-info {
		margin-bottom: 2rem !important;
		margin-top: 2rem !important;
		margin-left: 0rem !important;
		padding-left: 1rem !important;
		padding-right: 1rem !important;
		text-align: center;
	}

	.map-info h1, .map-info p {
		margin-left: 0 !important;
	}

	.map-info p {
		padding-right: 10rem !important;
		padding-left: 10rem !important; 
	}

	.donating {
		margin-top: 0 !important;
		margin-left: 0px !important;
		background-color: #30cf83;
	}

	.dollar {
		text-align: center;
		font-size: 24pt;
		margin-top: 1rem !important;
		margin-left: 2rem !important;
		margin-right: 2rem !important;
	}

	.footer {
		margin-top: 2rem;
	}

}

@media (max-width: 876px) {

	.partnerships p {
		font-size: 14pt !important;
	}

}

@media (max-width: 823px) {

	.time-logo-section h3, #phone, #phone input {
		font-size: 16pt;
	}

}

@media (max-width: 767px) {

	.map-info h1 {
		margin-top: 0rem !important;
		margin-bottom: 0rem !important;
	}

	.map-info {
		margin-top: 5rem !important;
		margin-bottom: 5rem !important;
	}

	.donating {
		margin-right: 0rem !important;
	}

	.dollar {
		font-size: 20pt;
	}

	.phonemap img, .footer p, .footer a {
		text-align: center;
	}

}

@media (max-width: 686px) {

	.map-info h1 {
		font-size: 24pt !important;
	}

}

@media (max-width: 667px) {

	.footer {
		padding-right: 10rem !important;
		padding-left: 10rem !important;
	}

}

@media (max-width: 590px) {

	.text-sms, .form-group, .sms-text {
		display: none;
	}

	.time-img img {
		height: 60px !important;
	}

	.partnerships p {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}

}

@media (max-width: 579px) {

	.time-logo-section h3 {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}

}

@media (max-width: 557px) {

	.map-info h1 {
		font-size: 22pt !important;
	}

}

@media (max-width: 512px) {

	.map-info h1 {
		font-size: 20pt !important;
	}

}

@media (max-width: 507px) {

	.footer {
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}

	.partners a img {
		height: 65px !important;
	}

}

@media (max-width: 490px) {

	.dollar {
		font-size: 18pt;
	}

}

@media (max-width: 430px) {

	.partnerships p {
		font-size: 12pt !important;
	}

	.jomo-logo {
		height: 150px !important;
	}

	.time-logo-section h3 {
		font-size: 30pt !important;
	}

}

@media (max-width: 413px) {

	.partners a img {
		height: 65px !important;
		margin-bottom: 1rem !important;
	}

}

@media (max-width: 367px) {

	.footer {
		padding-right: 1rem !important;
		padding-left: 1rem !important;
	}

}

@media (max-width: 359px) {

	.apple-link {
		margin-right: 0 !important;
	}

}

@media (max-width: 350px) {

	.partners a img {
		height: 60px !important;
	}

}

@media (max-width: 340px) {

	.dollar {
		font-size: 16pt;
	}

}

@media (max-width: 333px) {

	.time-logo-section a, .apple-link, .play-link {
		padding: 0 !important;
	}

	.time-logo-section, .time-logo-section h3, .jomo-logo {
		margin-bottom: 2rem !important;
	}

	.jomo-logo {
		height: 130px !important;
	}

	.time-logo-section {
		margin: 8vh 0 !important;
	}

	.time-logo-section h3 {
		font-size: 26pt !important;
	}

	.partnerships p {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}

}